/* Здесь будут храниться стили нашего сайта */
body {
  font-family: GillSansLightC;
}

@font-face{
  font-family: GillSansLightC;
  src: url('../fonts/GillSansLightC');
  src: url('../fonts/GillSansLightC 2.otf');
  src: url('../fonts/GillSansLightC 3.otf');
  src: url('../fonts/GillSansLightC 4.otf');
  font-weight: normal;
  font-style: normal;
}

header {
  color: #4b4c4a;
  background-color: #ffffff;
}
.main-image {
  text-align: center;
  position: relative;
  padding-left: 150px;
  padding-top: 50px;
}
.language {
  text-align: right;
  padding-top: 17px;
}
.language_ru {
  color: #e54427;
}
.language_eng {
  color: #e54427;
}
.telephone-number, .mailer {
}

.headerline {
  color: #ffffff;
}
.optional {
  padding-left: 60px;
}
.mainer {
  margin-top: 50px;
  left:0;
  right:0;
  width:100%;
  background-color: #e54427;
}

.formfactor {
  font-size: 24px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 5px;
  line-height: 1;
  font-stretch: condensed;
  font-weight: bold;
}
.detailfactor {
  margin-top: 0px;
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 0px;
}
.telephone-number, .mailer {
  text-decoration: none;
  text-align: left;
  padding-left: 30px;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.btn-phone {
  margin-left: 30px;
}
path {
  stroke-dasharray: 99.47578430175781;
  stroke-dashoffset: -99.47578430175781;
  fill: transparent;
}
svg.animate path {
  animation: 0.7s ease forwards draw;
  opacity:1;
}
@keyframes draw {
  0% {
    opacity: 1;
    stroke-dashoffset: -99.47578430175781;
    fill: transparent;
    transform: translateY(0);
  } 
  35% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    fill: #e54427;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    fill: #e54427;
    stroke-dashoffset: 0;
    opacity: 0;
    transform: translateY(-10px);
  }
}
button {
  cursor: pointer;
  min-width: 200px;
  padding: 15px 5px;
  text-transform: uppercase;
  vertical-align: middle;
  background: #e54427;
  border: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0,0,0);
  transition: all 1s;
}
button:hover {
  box-shadow: 0 0 25px rgb(0,0,0);
}
button:focus {
  outline: none;
}




nav {
  margin: 0px auto 0;
  position: relative;
  width: 400px;
  height: 50px;
  background-color: #e54427;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 95px;
}
a:nth-child(2) {
  width: 100px;
  padding-left:10px;
}
a:nth-child(3) {
  width: 100px;
  padding-left:10px;
}
a:nth-child(4) {
  width: 100px;
  padding-left:10px;
}

nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #4b4c4a;
}
nav .start-about, a:nth-child(2):hover~.animation {
  width: 100px;
  left: 100px;
  background-color: #4b4c4a;
}
nav .start-blog, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 200px;
  background-color: #4b4c4a;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
  width: 100px;
  left: 300px;
  background-color: #4b4c4a;
}

.wrap-ribbon-new {
  width: 50px;
  height: 20px;
  overflow: hidden;
  position: absolute;
  top: -18px;
  right: -16px;
  border-radius: 15px;
}
.services-section .services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 10%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 40px 20px 60px 40px;
  margin-top: 32px;
}

.services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 10%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 40px 40px 60px 40px;
  margin-top: 32px;
}

.services-detail.persona{
  padding: 40px 40px 10px 40px;
}

.partners-detail{
  height: 190px;
}

.partners-detail.small-partner{
  padding-top: 60px;
}

h5.media-heading{
  font-size: 14px;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 300;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}
.titlenow {
}
.partners {
  padding: 50px 0px 50px 0px;
}
.media-object-partner {
  height: 70px;
}
footer {
  background-color: #000;
}